<div class="d-flex justify-content-between">
  <div class="d-flex ">
    <div class="completed">
      <label class="container">
        <input type="checkbox" [(ngModel)]="task.completed">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="title ml-1" (dblclick)="setToEditable()">
      <span *ngIf="!isEditing" [class.completed]="task.completed">
        {{ task.title }}
      </span>
      <input class="form-control" [hidden]="!isEditing" type="text" [(ngModel)]="task.title" (blur)="onBlur()">
    </div>
  </div>
  <div class="delete text-danger mr-2 hidden">
      <i class="fa fa-times pointer" (click)="onDeleteClick()"></i>
  </div>
</div>